.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    padding-bottom: 2.5rem;
}

.form_title {
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 8px;
}

.form_title span {
    color: #F66A6A;
}