.input_normal {
    width: 100%;
    height: 2.75rem;
    border: 1px solid #D4D3D3;
    border-radius: 0.5rem;
    padding-inline: 1rem;
}

::placeholder {
    color: #ABABAB;
    font-size: 0.875rem;
    font-weight: 500;
}

.error_txt {
    font-size: 0.75rem;
    color: #F66A6A;
    font-weight: 600;
    margin-top: 0.25rem;
}